% ################## invoice DATA ##################
\newcommand{\invoiceDate}{{{.InvoiceDate}}}
\newcommand{\payDate}{{{.PayDate}}}
\newcommand{\invoiceReference}{{{.InvoiceReference}}}
\newcommand{\invoiceSalutation}{{{.InvoiceSalutation}}}
\newcommand{\invoiceText}{{{.InvoiceText}}}
\newcommand{\invoiceEnclosures}{{{.InvoiceEnclosures}}}
\newcommand{\invoiceClosing}{{{.InvoiceClosing}}}
% ################## invoice DATA ##################



% ################## Customer DATA ##################
\newcommand{\customerCompany}{{{.CustomerCompany}}}
\newcommand{\customerName}{{{.CustomerName}}}
\newcommand{\customerStreet}{{{.CustomerStreet}}}
\newcommand{\customerZIP}{{{.CustomerZIP}}}
\newcommand{\customerCity}{{{.CustomerCity}}}
% ################## Customer DATA ##################




% ################## Personal DATA ##################
\newcommand{\taxID}{{{.TaxID}}}
\newcommand{\senderName}{{{.SenderName}}}
\newcommand{\senderCompany}{{{.SenderCompany}}}
\newcommand{\senderStreet}{{{.SenderStreet}}}
\newcommand{\senderZIP}{{{.SenderZIP}}}
\newcommand{\senderCity}{{{.SenderCity}}}
\newcommand{\senderTelephone}{{{.SenderTelephone}}}
\newcommand{\senderMobilephone}{{{.SenderMobilephone}}}
\newcommand{\senderEmail}{{{.SenderEmail}}}
\newcommand{\senderWeb}{\url{{{.SenderWeb}}}}
\newcommand{\accountRCPT}{{{.AccountRCPT}}}
\newcommand{\accountNumber}{}
\newcommand{\accountBLZ}{}
\newcommand{\accountBankName}{{{.AccountBankName}}}
\newcommand{\accountIBAN}{{{.AccountIBAN}}}
\newcommand{\accountBIC}{{{.AccountBIC}}}
% ################## Personal DATA ##################
