\ProjectTitle{{"{"}}{{.ProjectTitle}}{{"}"}}
{{- range .Items}}
{{- if .HasDiscount}}
\LineDiscount{{"{"}}{{.DiscountLabel}}{{"}"}}{{"{"}}{{.DiscountCents}}{{"}"}}{{"{"}}{{.DiscountAmountStr}}{{"}"}}
{{- end}}
\Fee{{"{"}}{{.Description}}{{"}"}}{{"{"}}{{.UnitPrice}}{{"}"}}{{"{"}}{{.Quantity}}{{"}"}}{{"{"}}{{.Unit}}{{"}"}}
{{- end}}
